<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='javascript/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/logout.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/loadNavbar.js') }}"></script>
    <title>Velero Backup and Schedule Manager - Schedules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="navbar" class="col-md-2 p-3 d-flex flex-column" style="min-height: 100vh;"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 my-3">
                <header class="page-header">
                    <h1 class="page-title">Schedules</h1>
                </header>
                <div id="pageContent">
                    <div class="table-container">
                        <div class="buttons-container">
                            <button id="listSchedulesBtn" class="btn btn-primary">List Schedules</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#createScheduleModal">
                                Create Schedule
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#deleteScheduleModal">
                                Delete Schedule
                            </button>
                        </div>
                        <table id="schedulesTable">
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>STATUS</th>
                                    <th>CREATED</th>
                                    <th>SCHEDULE</th>
                                    <th>BACKUP TTL</th>
                                    <th>LAST BACKUP</th>
                                    <th>SELECTOR</th>
                                    <th>PAUSED</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody id="schedulesTableBody"></tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Create Schedule Modal -->
    <div class="modal fade" id="createScheduleModal" tabindex="-1" aria-labelledby="createScheduleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createScheduleModalLabel">Create Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createScheduleForm">
                        <div class="mb-3">
                            <label for="scheduleName" class="form-label">Schedule Name</label>
                            <input type="text" class="form-control" id="scheduleName" required>
                        </div>
                        <div class="mb-3">
                            <label for="scheduleSpec" class="form-label">Schedule Specification</label>
                            <input type="text" class="form-control" id="scheduleSpec" required>
                        </div>
                        <div class="mb-3">
                            <label for="optionalParameters" class="form-label">Optional Parameters</label>
                            <input type="text" class="form-control" id="optionalParameters" maxlength="200">
                            <small class="form-text text-muted">ex. --include-namespaces velero --ttl 720h</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitCreateSchedule">Create Schedule</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Restore Form Modal -->
    <div class="modal fade" id="restoreFormModal" tabindex="-1" role="dialog" aria-labelledby="restoreFormModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreFormModalLabel">Restore Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="restoreForm">
                        <div class="form-group">
                            <label for="restoreScheduleName">Schedule Name</label>
                            <input type="text" class="form-control" id="restoreScheduleName" readonly>
                        </div>
                        <div class="form-group">
                            <label for="restoreOptionalParameters">Optional Parameters</label>
                            <input type="text" class="form-control" id="restoreOptionalParameters"
                                placeholder="Enter optional parameters" maxlength="200">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="restoreButton">Confirm Restore</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete Schedule Modal -->
    <div class="modal fade" id="deleteScheduleModal" tabindex="-1" aria-labelledby="deleteScheduleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteScheduleModalLabel">Delete Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="deleteScheduleForm">
                        <div class="mb-3">
                            <label for="deleteScheduleName" class="form-label">Schedule Name</label>
                            <input type="text" class="form-control" id="deleteScheduleName" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitDeleteSchedule">Delete Schedule</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Schedule Describe Modal -->
    <div class="modal fade" id="scheduleDescribeModal" tabindex="-1" role="dialog"
        aria-labelledby="scheduleDescribeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scheduleDescribeModalLabel">Schedule Describe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="scheduleDescribeModalBody">
                    <div class="spinner-border text-primary d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <pre id="scheduleDescribe"></pre>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/config.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='javascript/utils.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='javascript/schedule.js') }}" type="module"></script>
</body>

</html>